.s-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #F6F8F7;
}
.row1, .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.s-card-body{
    margin: 2rem 3rem;
}
