/* .project-card-container {
  height: 331px;
  width: 384px;
  border-radius: 2px;
}
.p-c-img {
    background-image: url(src\assets\images\project1.png);
  height: 247px;
  width: 384px;
  border-radius: 0px;
} */
